body{
    background-color: #f0f8ff;
}
.appContainer{
    display: grid;
    width: 85%;
    background-color:#010619;
    color: white;
    border-radius: 30px;
    padding: 10px;
    margin: 10% auto;
    box-shadow: -5px 10px 10px rgba(0,0,0,0.3);
  }
.leftHand{
    grid-column: 1;
    grid-row: 1;
  }
.fahrenheit{
    display: inline-block;
    margin: 0;
    color: skyblue;
    background-color: transparent;
    border: 1px transparent solid;
    font-size: 18px;
    padding-left: 12px;
    font-family: 'Quicksand';
    vertical-align: 1px;
}
.fahrenheit:hover{
    color: skyblue;
}
.celcius{
    display: inline-block;
    margin: 0;
    color: slateblue;
    background-color: transparent;
    border: 1px transparent solid;
    font-size: 18px;
    font-family: 'Quicksand';
    vertical-align: 1px;
}
.celcius:hover{
    color: skyblue;
}
.degreeDivider{
    display: inline;
    color: darkslateblue;
    font-size: 24px;
    margin-left: 4px;
}
.degreeCoverter{
    position: sticky;
    float: left;
}
.rightHand{
    grid-column: 2;
    grid-row: 1;
    text-align: center;
  }
.citySearch-input{
    background-color: rgba(100,100,100,0.4);
    color: white;
    display: inline-block;
    border-radius: 20px;
    border: 1px darkslateblue solid;
    padding: 5px;
    text-align: right;
  }
.submit{
    display: inline-block;
    background-color: darkslateblue;
    border-radius: 20px;
    border: transparent solid;
    color: white;
    font-size: 14px;
    font-weight: bold;
}
.submit:hover{
    background-color: slateblue;
}
.citySearch-form{
    position: sticky;
    float: right;
    margin-right: 3%;
    grid-row: 1;
    grid-column: 2 / span 2;
}
h1{
    margin: 5px;
    grid-row: 2;
    text-align: center;
    color: skyblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 28;
    letter-spacing: 2px; 
}
h2{
    grid-row: 3;
    text-align: center;
    color: slateblue;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: normal;
}
.weekBar{
    grid-column: 1 / span 2;
    margin-bottom: 10px;
    text-align: center;
}
.weekDayItem{
    width: 12%;
    display: inline-block;
    border-radius: 20px;
    border: transparent solid;
    transition: all 200ms ease-in-out;
    padding-top: 3px;
}
.weekDayItem:hover{
    background-color: darkslateblue;
}
.currentTemp{
    margin-top: 10px;
}
.currentTempTemp{
    font-size: 56px;
    vertical-align: 5px;
    grid-row: 4;
    grid-column: 2;
    text-align: center;
    font-family: 'Quicksand';
    z-index: 2;
    position: relative;
    font-weight: normal;

}
.hiWeekDay{
    display: inline-block;
    text-align: center;
    padding-top: 5px;
    font-family: 'Quicksand';
    font-size: 14px;
    font-weight: bold;
}
.loWeekDay, .dividerWeekDay{
    display: inline-block;
    text-align: center;
    padding-top: 5px;
    font-family: 'Quicksand';
    font-size: 14px;
}
.percentage{
    display: inline-block;
    text-align: center;
    padding-top: 2px;
    font-family: 'Quicksand';
    font-size: 14px;
}
img{
    width: 250px;
    margin: auto;
    display: block;
}
.dayAverage{
    font-size: 24px;
    color: skyblue;
    font-family: 'Quicksand', sans-serif;
    font-weight: normal;
}
.geo{
    display: inline-block;
    background-color: darkslateblue;
    border-radius: 20px;
    border: transparent solid;
    color: white;
    font-size: 10px;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    vertical-align: 2px;
}
.geo:hover{
    background-color: slateblue;
}
.hiLarge{
    display: inline-block;   
}
.hiLoDivider{
    display: inline-block;
    margin-left: 4px;
    margin-right: 4px;
}
.loLarge{
    display: inline-block;
}
.percentageLarge{
    padding-left: 25px;
    display: inline-block;
}
.dayText{
    font-family: 'Georgia';
    font-weight: thin;
}
.currentWeatherIcon{
    font-size: 42px;
    color: skyblue;
    opacity: 30%;
    left: 8%;
    display: inline;
    vertical-align: 24px;
    position:relative;
    z-index: 1;
}